<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestão Impressoras</title>
    <link rel="stylesheet" href="/static/styles/impressoras/criar_impressora.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="titulo-cabecalho">
          <h1>Criar Impressora</h1>
        </div>
      </header>

    <main>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="{{ url_for('index') }}">Menu</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contratos') }}">Contratos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('produtos') }}">Produtos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('impressoras') }}">Impressoras</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('secretarias') }}">Secretarias</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contadores') }}">Contadores</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('faturamento') }}">Faturamento</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div id="formulario">
            <Form method="post" class="form-group">
                <label for="">ID Impressora:</label>
                <input class="form-control" id="formGroupExampleInput" type="text" placeholder="ID Impressora" name="id_impressora" required>
                <label for="">Modelo:</label>
                <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Modelo" name="modelo" required>
                <label for="">Marca:</label>
                <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Marca" name="marca" required>
                <label for="">Localização:</label>
                <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Localização" name="localizacao" required>
                <label for="">Status:</label>
                <select name="status" class="form-select" aria-label="Default select example" required>
                    <option value="ATIVA">ATIVA</option>
                    <option value="TROCADA">TROCADA</option>
                    <option value="DESATIVADA">DESATIVADA</option>
                </select>
                <label for="">Tipo Impressora:</label>
                <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Tipo Impressora" name="tipo_impressora" required>
                <label for="">ID Setores:</label>
                <input class="form-control" id="formGroupExampleInput" type="number" placeholder="ID Setores" name="id_setores">
                <label for="">ID Cotas:</label>
                <input class="form-control" id="formGroupExampleInput" type="number" placeholder="ID Cotas" name="id_cotas">
                
                <div class="form-group button-container">
                    <button type="submit" class="btn btn-primary mb-3">Enviar</button>
                </div>
            </Form>
        </div>

        <div id="mensagem">{{ mensagem }}</div>
        <div class="container-botao">
            <div class="d-grid gap-4 col-3 mx-auto">
              <a class="btn btn-primary " href=" {{ url_for('impressoras') }}" role="button">Voltar</a>
            </div>
        </div>
    </main>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>