header {
    width: 100%;
    background-color: #f1f1f1;
}

footer {
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.container-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.titulo-cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}