<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão Impressoras</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Gestão Impressoras</h1>
    </header>
    <main class="container mt-4">
        <div class="d-flex justify-content-center">
            <div class="btn-group-vertical">
                <a href="{{ url_for('contratos') }}" class="btn btn-primary mb-2">Contratos</a>
                <a href="{{ url_for('secretarias') }}" class="btn btn-primary mb-2">Secretarias</a>
                <a href="{{ url_for('produtos') }}" class="btn btn-primary">Produtos</a>
            </div>
        </div>
    </main>
    <footer>
        <p class="text-center">Desenvolvido por <a href="https://github.com/FilipeHoffmann">Filipe Antonio Hoffmann</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>