header {
    width: 100%;
    background-color: #f1f1f1;
}

footer {
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario {
    width: 50%;
    background-color: white;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#formulario input[type="text"],
#formulario input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group.button-container {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#mensagem {
    text-align: center;
    font-size: 18px;
    color: green;
}

.titulo-cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}