body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

.titulo-cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: #0056b3;
}

.navbar-nav .nav-link {
    color: white;
}

.container-botao {
    margin: 50px 0;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#container-faturamento {
    padding: 20px;
}

#container-meses {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    font-size: small;
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

.table tbody tr:hover {
    background-color: #8b8b8b;
}

.table thead {
    background-color: #343a40;
    color: #fff;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#container-total {
    text-align: center;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.coluna {
    flex: 1;
    min-width: 300px;
}